<div class="card card-inverse card-info text-xs-center" style="margin-left:-100px; margin-right: 250px;">
  <div class="card-block">
    <blockquote class="card-blockquote" style="background-color: #7CFC00">
      <p class="card-text" >
      <h3>Nature</h3>
  
	
​
		<h4 style="colour:red; font-family: verdana" >The force that is responsible for physical life and that is sometimes spoken of as a person:
	Feeling tired-out is Nature's way of telling you to rest.
	Nature gave these tiny creatures the ability to reproduce quickly when food is abundant.</h4>
	<br><br>

	
      
    </blockquote>
  </div>
</div>
  