<div class="card card-inverse card-info text-xs-center" style="margin-left:-100px; margin-right: 250px;">
  <div class="card-block">
    <blockquote class="card-blockquote" style="background-color: cyan">
      <p class="card-text" >
      <h3>What is SCIENCE?</h3>
  
	The word science comes from the Latin "scientia," meaning knowledge.

	<br><br>

	<h3>How Do We Define Science?</h3><br>

	<h4 style="colour:red; font-family: verdana" >According to Webster's New Collegiate Dictionary, the definition of science is:

	"knowledge attained through study or practice," or
	"knowledge covering general truths of the operation of general laws, esp. as obtained and tested through scientific method [and] concerned with the physical world."</h4>
	</p>
      
    </blockquote>
  </div>
</div>
  


