
<!--Card-->
<div class="card"  style="margin-left: 250px;">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="./images/galxy.jpg" style= "width: 480px; height:350px;" class="img-fluid" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
    </div><br>
    <br>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block"  style="margin-left: 100px;">
        
        
        <a ui-sref="science.scienceText" class="btn btn-primary">Read More</a>
        <ui-view></ui-view>
    </div>
    <!--/.Card content-->

</div>




