<div class="card card-inverse card-info text-xs-center" style="margin-left:-100px; margin-right: 250px;">
  <div class="card-block">
    <blockquote class="card-blockquote" style="background-color:#808080">
      <p class="card-text" >
     
	<br><br>

	<h3>TECHNOLOGY</h3><br>

	<h4 style="colour:red; font-family: verdana">Technology ("science of craft", from Greek τέχνη, techne, "art, skill, cunning of hand"; and -λογία, -logia) is the collection of techniques, skills, methods and processes used in the production of goods or services or in the accomplishment of objectives, such as scientific investigation. Technology can be the knowledge of techniques, processes, and the like, or it can be embedded in machines, computers, devices, and factories, which can be operated by individuals without detailed knowledge of the workings of such things.</h4>
	</p>
      
    </blockquote>
  </div>
</div>



