<div class="timeline-panel_1" style="height:320px" ng-controller="skillsDetailsCtrl">

<div class="card card-inverse card-success text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
    	<h4 style="text-align: center;font-weight: bold">NAME</h4>
      <p>R. VARUDHINI</p>
      <footer>FULL NAME: RUTTALA VARUDHINI<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

<div class="card card-inverse card-success text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
    	<h4 style="text-align: center;font-weight: bold">MOBILE NUMBER</h4>
      <p>+91 950274 3982</p>
      <footer>PHONE NUMBER: +91 903348 1981<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

</div>

