<div class="timeline-panel_1 animated bounceIn" style="height:480px" ng-controller="educationDetailsCtrl">

<div class="card card-inverse card-success text-xs-center ">
  <div class="card-block">
    <blockquote class="card-blockquote">
    	<h4 style="text-align: center">HIGH SCHOOL</h4>
      <p>{{myData.Education.year1}}</p>
      <footer>{{myData.Education.Name1}}<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

<div class="card card-inverse card-info text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
    <h4 style="text-align: center">SENIOR SCHOOL</h4>
      <p>{{myData.Education.year2}}</p>
      <footer>{{myData.Education.Name2}} <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

<div class="card card-inverse card-info text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
    <h4 style="text-align: center">UNIVERSITY</h4>
      <p>{{myData.Education.year3}}</p>
      <footer>{{myData.Education.Name3}} <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

</div>