<div class="timeline-panel_1" ng-controller="personalDetailsCtrl">
	<h4>PERSONAL INFO</h4>
	_________________________<br>
	<br>
	<div class="btn-group">
	<button type="button" disabled class="btn btn-primary"> NAME</button>
	<button type="button" disabled class="btn btn-default"> {{myData.Resume.name}}</button>

	</div><br>

	<div class="btn-group">
	<button type="button" disabled class="btn btn-primary">Date Of Birth</button>
	<button type="button" disabled class="btn btn-default"> {{myData.Resume.Dob}}</button>
	
	</div><br>

	<div class="btn-group">
	<button type="button" disabled class="btn btn-primary"> Email</button>
	<button type="button" disabled class="btn btn-default"> {{myData.Resume.email}}</button>
	
	</div><br>

	<div class="btn-group">
	<button type="button" disabled class="btn btn-primary"> Address</button>
	<button type="button" disabled class="btn btn-default">{{myData.Resume.address}}</button>
	
	</div>

	<div class="btn-group">
	<button type="button" disabled class="btn btn-primary"> Phone Number</button>
	<button type="button" disabled class="btn btn-default"> {{myData.Resume.ph}}</button>
	
	</div>



</div>