<div class="timeline-panel_1" style="height:520px" ng-controller="skillsDetailsCtrl">
<h4 style="font-weight: bold; text-align: center;font-size: 30px;"> SKILL SETS</h4><br>

<h5 style="font-weight: bold; font-size: 20px;">TECHNICAL SKILLS</h5><br>

	
	

	<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.Technical}}</span>
	</div>

	
	</div>

	<div class="progress">
	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:75%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.Technical2}}</span>
	</div>

	
	</div>

	<div class="progress">
	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.Technical3}}</span>
	</div>

	
	</div>

	<div class="progress">
	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:60%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.Technical4}}</span>
	</div>

	
	</div>

	<h5 style="font-weight: bold; font-size: 20px;">SOFT SKILLS</h5><br>

	<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.soft1}}</span>
	</div>

	
	</div>

	<div class="progress">
	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:75%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.soft2}}</span>
	</div>

	
	</div>

	<div class="progress">
	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:85%">


	<span class="sr-only" style="background: red; width: 90%;"></span> 
		<span>{{myData.Skills.soft3}}</span>
	</div>

	
	</div>


</div>



    
      
    
 