<div style="width:80%;margin-left:10%">
	<div style="margin-left:20%">
		 <iframe width="440" height="280" src="https://www.youtube.com/embed/qTSDL94_Y7M" frameborder="0" allowfullscreen></iframe><br><br>
		 <iframe width="440" height="280" src="https://www.youtube.com/embed/J-uIVtgxHwY" frameborder="0" allowfullscreen></iframe>
  </div>

		 <div class="container">

  <!-- Trigger the modal with a button -->
		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">

		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Modal Header</h4>
		        </div>
		        <div class="modal-body">
		          <p>Some text in the modal.</p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>

		    </div>
		  </div>

		</div>
				</div>
