<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="viewControllerJs/employee.js"></script>
   
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  
  <body>
     <div ng-app="ajaxApp" ng-controller="emp_detailsCtrl">
  	<button type="button" style="margin-left:370px;" class="btn btn-success" ng-click="clickMe()">GET EMPLOYEE DETAILS</button><br><br>
   
	<table border="1" class="table">
		<th class="success">EMPLOYEE ID</th>
         <th class="info">EMPLOYEE NAME</th>
         <th class="warning">EMPLOYEE EXPERIENCE</th>
         <th class="danger">EMPLOYEE DESIGNATION</th>
         <th class="active">EMPLOYEE PH.NUMBER</th>

    	<tr ng-repeat=" details in myData.employeeDetails">
    		<td class="success">{{details.empNum}}</td>
    		<td class="info">{{details.empName}}</td>
    		<td class="warning">{{details.empExp}}</td>
    		<td class="danger">{{details.empDes}}</td>
    		<td class="active">{{details.mobileNum}}</td>

    	</tr>
    	
    	</table>
    	</div>
    	 
  </body>

 </html>