<div>
	   <div style="width:80%;margin-left:10%">

			  </div>

			 <div class="w3-content w3-display-container" style="width:40%;margin-left:30%;margin-top:15%;height:30%">
				  <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
				<a href="scooby.html">  <img class="mySlides" src="../Images/scooby1.jpg"style="margin-left:20%"></a>

				<a href="minion.html">  <img class="mySlides" src="../Images/minion1.jpg" style="margin-left:20%"> </a>

          <a href="jhonny.html"><img class="mySlides" src="../Images/jhonny1.jpg" style="margin-left:20%"></a>

          <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
			</div>

			<script>
				var slideIndex = 1;
				showDivs(slideIndex);

				setInterval(function(){
				plusDivs(1)}
				, 2000);

				function plusDivs(n) {
				  showDivs(slideIndex += n);
				}


				function showDivs(n) {
				  var i;
				  var x = document.getElementsByClassName("mySlides");
				  if (n > x.length) {slideIndex = 1}
				  if (n < 1) {slideIndex = x.length}
				  for (i = 0; i < x.length; i++) {
					 x[i].style.display = "none";
				  }
				  x[slideIndex-1].style.display = "block";
				}

			</script>



</div>
